:root {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 16px;

    --white: #ffffff;
    --black: #000000;
    --blue-1: #85cdf5;
    --blue-2: #2C5680;
    --blue-3: #2C5680;
    --gray-1: #333333;
    --gray-2: #353535; /* ??? */
    --yellow: #deb959;
    --green: #7aac3a;
    --red: #de5959;
    --gray-0: #e6e6e6;
}